@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  margin: 0;
  padding: 0;
}
.main {
  font-family:Arial,sans-serif;
  width:500px;
  display:block;
  margin:0 auto;
  background: #95e1d3;
}
h3 {
  background: red;
  color: #3498db;
  font-size: 36px;

  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}
.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px;
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:#000;
}
.intro {
  color: #fff;
  height: 100vh;
  background: url("../images/Layer 15.png") no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    width: 70%;

    ul {
      margin: 0;
      display: flex;
      justify-content: space-around;
      font-weight: bold;
    }
    a {
      color: #fff;
      border: 2px solid transparent;
      transition: border-bottom .5s ease;
    }
  }
  .menu a:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: #fce38a;
    border-bottom: 2px solid #fce38a;
    transform: scaleX(1);
  }

  .menu-link {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .menu a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 3px;
    width: 100px;
  }

  .menu a:hover {
    transition: all 0.3s ease;

  }

  .learn-more a:hover {
    text-decoration: none;
    color: #fce38a;
    border-color: #fce38a;
  }
  .container .intro--button {
    position: relative;
    background: transparent;
    padding: 10px 30px;
    text-align: center;
    align-items: center;
    border: 3px solid #fff;
    color: #fff;
    margin-top: 30px;
  }
}

.overlay {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
}

.overlay--color {
  background-image: -moz-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.intro .menu-link {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.title-text {
  position: relative;
  text-align: center;
}

.title-text span {
  display: inline-block;
  font-size: 72px;
  font-family: "Kaushan Script", sans-serif;
  line-height: 1.2;
}

.title-text h1 {
  padding-top: 20px;
  font-size: 150px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.933;
}

.slider-controller {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.slider-items {
  width: 25%;
}

.slider-items::before {
  content: '';
  width: 100%;
  height: 2px;
  display: inline-block;
  vertical-align: top;
  background: #fff;
}

.slider-text {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  width: max-content;
}

.story {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.story {
  .title-text span {
    font-size: 24px;
  }

  .title-text h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .title-text::after {
    content: '';
    width: 60px;
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
    left: 0;
    background-color: rgb(243, 129, 129);
    height: 3px;
  }
  .container .photo-container .photo-item {
    width: 100%;
    transition: transform .3s ease, box-shadow .3s ease;
  }
  .container .photo-container .photo-item:hover {
    box-shadow: 1px 1px #95e1d3,
    7px 7px #95e1d3;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px) translateY(-7px);
  }
  .photo-item {
    height: 252px;
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: stretch;
  }
  .photo-item a {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: none;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    opacity: 0;

  }
  .photo-item a:after {
    position: absolute;
    content: '';
    background-image: -moz-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .3s ease;
    z-index: -1;
  }
  .photo-item a:hover {
    opacity: 1;
  }
  .photo-item a:hover:after {
    opacity: .9;
  }
}

.text {
  text-align: center;
  margin: 60px 0;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
}

.counter-info {
  height: 35vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(149, 225, 211);
  .container {
    display: flex;
    height: 100%;
  }
  .number {
    font-size: 72px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
  .counter-text {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
  .counter-container {
    height: 100%;
    width: 20%;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    padding: 70px 0;
  }
}

.services {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .title-text::after {
    content: '';
    width: 60px;
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
    left: 0;
    background-color: rgb(243, 129, 129);
    height: 3px;
  }
  .title-text span {
    font-size: 24px;
  }
  .title-text h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .title-text::after {
    content: '';
    width: 60px;
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
    left: 0;
    background-color: rgb(243, 129, 129);
    height: 3px;
  }
  .media {
    margin: 50px 0;
  }
  .media svg {
    width: 15%;
  }
  .media .media-body h5 {
    text-transform: uppercase;
  }
}

.unique-design {
  background: url("../images/Layer 45.png") no-repeat center;
  height: 50vw;
  min-height: 480px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  z-index: -4;
  .overlay {
    z-index: -3;
    opacity: .7;
  }
  .overlay--bw {
    background-color: #d9d9d9;
  }
  .tablet {
    width: 29%;
    position: absolute;
    height: 568px;
    left: 34%;
    bottom: 0px;
    z-index: -1;
    background: url("../images/Layer 1.png") no-repeat;
    background-size: cover;
    background-position: top;
  }
  .phone-img {
    position: absolute;
    left: 56%;
    bottom: -119px;
  }
  .title-text {
    padding-top: 4vw;
  }
  .title-text span {
    font-size: 24px;
  }
  .title-text h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .title-text::after {
    content: '';
    width: 60px;
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
    left: 0;
    background-color: rgb(243, 129, 129);
    height: 3px;
  }
}

.we-do {
  height: 115vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .title-text {
    padding-top: 80px;
  }
  .title-text span {
    font-size: 24px;
  }
  .title-text h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .title-text::after {
    content: '';
    width: 60px;
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
    left: 0;
    background-color: rgb(243, 129, 129);
    height: 3px;
  }
  .card-body {
    max-height: 180px;
    overflow-y: auto;
  }
}

.we-do
.we-do
.we-do
.we-do
.we-do
.we-do .card-body .btn-link:hover,
.btn-link.focus,
.btn-link:focus,
.btn:hover,
.btn:focus,
.btn-link.focus,
.btn-link:focus {
  text-transform: none !important;
}

.accordion .card-header:after {
  font-family: 'FontAwesome', sans-serif;
  content: "\f068";
  float: right;
}

.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

/*start blockquote */

.slider-quote {
  padding: 45px 0;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
}

.slick-slider {
  width: 80%;
}

.slick-track {
  width: 80% !important;
}

.slick-prev {
  left: 15px !important;
}

.slick-next {
  right: 15px !important;
}

.slick-current {
  left: 0 !important;
  top: 0 !important;
  width: 700px !important;
}

.slick-prev::before, .slick-next::before {
  color: black !important;
}


.slider-quote .media svg {
  border: 3px solid #95e1d3;
  padding: 40px;
  width: 150px;
  height: 150px;
  margin-right: 30px;
}

.slider-quote .carousel-control-next,
.carousel-control-prev {
  width: 4% !important;
}

.slider-quote {
  .carousel-inner {
    position: relative;
    width: 90%;
    margin: 0 69px;
    overflow: hidden;
  }
  .blockquote-footer {
    font-size: 24px;
    font-family: "Kaushan Script", sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
  }
  .blockquote-footer::before {
    color: #f38181;
  }
}

/*end blockquote */

.team {
  padding: 45px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .title-text span {
    font-size: 24px;
  }
  .title-text h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .title-text::after {
    content: '';
    width: 60px;
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
    left: 0;
    background-color: rgb(243, 129, 129);
    height: 3px;
  }
  .team-member {
    text-align: center;
  }
  .member-name {
    padding: 30px 0 15px 0;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
  }
  .member-position {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
  }
}

.logos {
  height: 30vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .container {
    display: flex;
    justify-content: space-around;
  }
}

.our-work {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .title-text span {
    font-size: 24px;
  }
  .title-text h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .title-text::after {
    content: '';
    width: 60px;
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
    left: 0;
    background-color: rgb(243, 129, 129);
    height: 3px;
  }
  .work-photo {
    padding: 0;
  }
  .img-small {
    width: 50%;
    height: 100%;
  }
}

.slider-quote-second {
  height: 20vw;
}

.slider-quote-second img {
  margin-right: 40px;
}

.slider-quote-second #customId {
  height: 12vw;
}

.slider-quote-second .media-body {
  padding-top: 40px;
}

.people-say {
  background: url("../images/Layer 53.png") no-repeat center;
  height: 110vh;
  position: relative;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  .overlay {
    opacity: 0.8;
  }
  .overlay--bw {
    background-color: #ffffff;
  }
  .title-text span {
    font-size: 24px;
  }
  .title-text h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .title-text::after {
    content: '';
    width: 60px;
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
    left: 0;
    background-color: rgb(243, 129, 129);
    height: 3px;
  }
  .people-text {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
    margin-top: 25px;
  }
  .member-name {
    padding: 30px 0 15px 0;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
  }
  .member-position {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
  }
  .people-position {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(51, 51, 51);
    font-style: italic;
    line-height: 1.6;
  }
  .people-position::after {
    content: '';
    width: 60px;
    display: block;
    margin-top: 20px;
    vertical-align: bottom;
    align-items: center;
    left: 0;
    background-color: rgb(243, 129, 129);
    height: 3px;
  }
  .media {
    margin-top: 70px;
  }
  .media-body {
    margin-left: 17px;
  }
}

.blog {
  height: 85vh;
  position: relative;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  .title-text {
    margin-bottom: 30px;
  }
  .title-text span {
    font-size: 24px;
  }
  .title-text h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .title-text::after {
    content: '';
    width: 60px;
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
    left: 0;
    background-color: rgb(243, 129, 129);
    height: 3px;
  }
  .blog-item--title {
    margin-top: 20px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
  }
  .blog-item--text {
    margin-top: 20px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
  }
  .blog-items {
    display: flex;
  }
  img {
    width: 100%;
  }
  .blog-item--statistics {
    display: flex;
    align-items: center;
  }
  .blog-item--statistics div {
    margin: 0 10px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: left;
  }
}

.map {
  background: url("../images/Layer 59.png") no-repeat center;
  background-size: cover;
  height: 30vh;
  position: relative;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  .title-text h2 {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: rgb(243, 129, 129);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
  }
  .overlay {
    opacity: 0.7;
  }
  .overlay--bw {
    background-color: #fff;
  }
}

footer {
  height: 80vh;
  position: relative;
  display: flex !important;
  z-index: 2;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  .footer-logo {
    width: 40%;
  }
  .custom-file-label {
    color: #b1b1b1;
  }
  .notes {
    a {
      text-decoration: none;
      color: black;
      display: flex;
    }
    a:hover {
      text-decoration: none;
      color: #fce38a;
    }
    .media img {
      width: 160px;
      height: 100%;
    }
  }
  .footer-text {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .footer-followers {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
  }
  .number {
    font-weight: 700;
  }
  .follow-us {
    align-items: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: left;
    margin-top: 20px;
  }
  .follow-us i {
    color: #95e1d3;
    margin: 0 10px;
  }
  .follow-us::before {
    content: '';
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
    left: 0;
    background-color: #e5e5e5;
    height: 3px;
  }
  button {
    background-color: rgb(149, 225, 211);
    border-radius: 0 !important;
    color: #fff;
    width: 150px;
    height: 40px;
  }
  .form-control {
    border-radius: 0 !important;
    width: 70% !important;
  }
  form {
    margin-top: 35px;
  }
  .blog-title {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
  }
  .notes .mt-0 {
    text-transform: uppercase;
  }
  .publication-date {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.846;
    text-align: left;
  }
  .blog-instagram img {
    width: 100%;
    padding: 1px;
  }
  .created-by::before {
    content: '';
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
    left: 0;
    background-color: #e5e5e5;
    height: 3px;
  }
  .created-by {
    margin-top: 65px;
    justify-content: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    .author {
      color: #f49f9f;
    }
  }
}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin-bottom: 0;
  margin-top: 40px;
}

.custom-file .custom-input {

  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin: 0;
  opacity: 0;
}

@media screen and (max-width: 2560px) {
  .services, .story {
    height: 70vh;
  }

  .counter-info {
    height: 12vw;
  }

  .unique-design .tablet {
    height: 72%;
  }

  .unique-design .phone-img {
    width: 15%;
  }

  .we-do .we-do--image {
    width: 48%;
  }

  .we-do--image img {
    width: 100%;
  }

  #accordion {
    width: 50%;
    margin-left: 20px;
  }

  .we-do {
    height: 80vh;
  }

  .work-photo img {
    width: 100%;
  }

  .slider-quote-second {
    height: 12vw;
  }

  .slider-quote-second #customId {
    height: 9vw;
  }

  .people-say {
    height: 65vh;
    background-size: cover;
  }

  .blog {
    height: 43vh;
  }

  footer {
    height: 30vw;
  }

}

@media screen and (max-width: 1920px) {

  .counter-info {
    height: 23vh;
  }

  .we-do {
    height: 65vh;
  }

  .blog {
    height: 70vh;
  }

  .slider-quote-second {
    height: 15vw;
  }

  footer {
    height: 65vh;
  }
}

@media screen and (max-width: 1600px) {
  .story {
    height: 82vh;
  }
  .we-do {
    height: 46vw;
  }

  .slider-quote-second #customId {
    height: 14vw;
  }
  .slider-quote-second {
    height: 19vw;
  }
  .people-say {
    height: 45vw;
  }
  footer {
    height: 45vw;
  }
}

@media screen and (max-width: 1440px) {
  .people-say {
    height: 65vw;
  }
  .services, .story {
    height: 50vw;
  }

  .intro .title-text h1 {
    padding-top: 20px;
    font-size: 120px;
  }

  .counter-info {
    height: 20vw;
  }

  .unique-design .tablet {
    width: 32%;
  }

  .we-do {
    height: 54vw;
    .we-do--image {
      width: 48%;
      img {
        width: 100%;
      }
    }
  }

  #accordion {
    width: 50%;
    margin-left: 20px;
  }

  .slider-quote-second {
    height: 20vw;
    .carousel-inner {
      height: 15vw;
    }
    #customId {
      height: 14vw;
    }
  }

  .blog {
    height: 50vw;
  }

  footer {
    height: 45vw;
  }
}

@media screen and (max-width: 1280px) {
  footer {
    height: 53vw;
  }

  .slider-quote-second .carousel-inner {
    height: 17vw;
  }

  .slider-quote-second {
    height: 23vw;
  }
}

@media screen and (max-width: 1024px) {
  .intro .title-text h1 {
    font-size: 100px;
  }

  .story {
    height: 65vw;
  }

  .counter-info {
    height: 27vw;
  }

  .services {
    height: 65vw;
  }

  .services h5,
  footer h5 {
    font-size: 1rem;
  }

  .services {
    height: 77vw;
  }

  .services .media svg {
    width: 10%;
  }

  .slider-quote-second .carousel-inner,
  .slider-quote-second #customId {
    height: 22vw;
  }

  .we-do {
    .we-do--image img {
      width: 100%;
    }
  }

  #accordion {
    width: 40%;
    margin-left: 20px;
  }

  .map {
    height: 30vw;
  }

  footer {
    height: 65vw;
  }

  .counter-info {
    height: 25vw;
  }

  .services svg {
    margin-right: 1rem;
  }

  .unique-design {
    .tablet {
      height: 354px;
    }
    .phone-img {
      width: 18%;
      bottom: -90px;
    }
  }

  .we-do {
    height: 75vw;
  }

  .blog {
    height: 70vw;
  }

  .slider-quote .carousel-inner {
    padding-right: 30px;
    font-size: 14px;
  }

  .people-say .media {
    width: 100% !important;

  }

  .people-say {
    height: 85vw;
    background-size: cover;
  }

}

@media screen and (max-width: 980px) {

  .intro .title-text h1 {
    font-size: 75px;
  }

  .unique-design {
    height: 60vw;
  }

  .unique-design .tablet {
    height: 405px;
  }

  .counter-info .number {
    font-size: 65px;
  }

  .people-say {
    height: 120vw;
  }

  .services {
    height: 90vw;
  }

  #carouselExampleControls {
    height: 15vw;
  }

  .we-do {
    height: 85vw;
  }

  .blog {
    height: 135vw;
    justify-content: space-around;
  }

  .blog .title-text {
    margin-top: auto;
  }

  .blog img {
    height: 100%;
  }

  .blog .blog-items {
    flex-direction: column;
  }

  .blog .blog-item {
    min-width: 100% !important;
    margin-bottom: 50px;
  }

  .blog .blog-item--photo {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .blog img {
    height: 100%;
    width: 50%;
  }

  .blog .blog-item {
    min-width: 100% !important;
    margin-bottom: 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  footer {
    height: 160vw;
  }

  footer .last-notes, footer .blog-instagram {
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .title-text span {
    font-size: 64px;
  }

  .story {
    height: 85vw;
  }

  .services {
    height: 105vw;
  }

  .unique-design .tablet {
    height: 304px;
  }

  .unique-design .phone-img {
    bottom: -64px;
  }

  .we-do {
    height: 100vw;
  }


  .slider-quote-second {
    height: 40vw;
  }

  .people-say {
    height: 150vw;
  }

  .blog {
    height: 190vw;
  }

  .blog img {
    height: 100%;
    width: 50%;
  }

  .blog .blog-item {
    min-width: 100% !important;
    margin-bottom: 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  footer {
    height: 185vw;
  }
}

@media screen and (max-width: 600px) {

  .intro {
    .title-text span {
      font-size: 35px !important;
    }
    .slider-items {
      padding-top: 25px;
    }
    .learn-more {
      margin-top: 0 !important;
    }
    .title-text h1 {
      font-size: 40px;
    }
  }

  .title-text span {
    font-size: 18px !important;
  }

  .title-text h2 {
    font-size: 23px !important;
  }

  .unique-design .title-text {
    padding-top: 12vw;
  }

  .unique-design .title-text h2 {
    margin: 0;
  }

  .we-do .title-text {

    padding-top: 60px;

  }

  /*********************************************************************/
  .icon {
    position: absolute;
    top: 85%;
    right: -55px;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 2;
  }

  .burger-nav {
    width: 50px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
    background: #fff;
  }

  .burger-nav:before, .burger-nav:after {
    content: '';
    width: 50px;
    height: 6px;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
    background: #fff;
  }

  .burger-nav:before {
    top: -16px;
    background: #fff;
  }

  .icon.active .burger-nav {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    transition: all 1s ease;
  }

  .icon.active .burger-nav:before {
    top: 0;
    transform: rotate(45deg);
  }

  .icon.active .burger-nav:after {
    top: 0;
    transform: rotate(135deg);
  }

  .menu ul {
    height: 0;
    overflow: hidden;
    background: rgba(243, 129, 129, .9);
  }

  .menu ul.open {
    height: auto;
  }

  .menu ul li {
    text-align: left;
    width: 100%;
  }

  .menu ul li a {
    color: #fff;
  }

  .menu ul.open {
    transition: all .4s ease;
  }

  .menu ul.open {
    height: 300px;
    width: 109%;
    position: absolute;
    left: -15px;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .slider-controller {
    flex-direction: column;
  }

  .story {
    height: 200vw;
  }

  .counter-info .number {
    font-size: 50px;
  }

  .counter-info {
    height: 32vw;
  }

  .services {
    height: 205vw;
  }

  .we-do {
    height: 200vw;
  }

  .we-do .we-do--image {
    width: 100%;
  }

  #accordion {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  .story .photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .unique-design .tablet {
    height: 308px;
  }

  .unique-design .tablet {
    height: 242px;
  }

  .counter-info {

    height: 75vw;

  }

  .counter-info .container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .counter-info .counter-container {
    height: 50%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }



  .slider-quote-second {
    height: 65vw;
  }

  .slider-quote .carousel-inner {
    margin-left: 25px;
  }

  .slider-quote .carousel-inner {
    width: 95%;
  }

  .slider-quote-second #customId {
    height: 43vw;
  }

  .people-say {
    height: 190vw;
  }

  .blog {
    height: 280vw;
  }

  .blog img {
    height: 100%;
    width: 100%;
  }

  .blog .blog-item {
    height: auto;
  }

  footer {
    height: 270vw;
  }
}

@media screen and (max-width: 475px) {

  .story {
    height: 300vw;
  }

  .intro .slider-text {
    font-size: 15px;
  }

  .unique-design {
    height: 366px;
    min-height: 200px;
  }

  .unique-design .tablet {
    height: 193px;
    width: 36%;
  }

  .services {
    height: 260vw;
  }

  .services .media {
    margin: 35px 0;
  }

  .counter-info .number {
    font-size: 27px;
  }

  .counter-info .counter-text {
    font-size: 11px;
  }

  .we-do {
    height: 270vw;
  }


  .slider-quote .media svg {
    padding: 23px;
    width: 118px;
    height: 115px;
  }

  .people-say {
    height: 260vw;
  }

  .blog {
    height: 330vw;
  }

  .blog .blog-title .col-xs-4 {
    max-width: 16%;
  }

  .logos {
    height: 84vw;
  }

  .logos .container {
    flex-wrap: wrap;
  }

  .logo {
    width: 25%;
    padding-top: 20px;
  }
  footer {
    height: 326vw;
  }
}

@media screen and (max-width: 375px) {
  .story {
    height: 310vw;
    .text {
      margin: 30px 0;
    }
  }

  .services {
    height: 330vw;
  }

  .unique-design .tablet {
    height: 165px;
  }

  .services {
    height: 280vw;
  }

  .people-say {
    height: 360vw;
  }

  .slider-quote {
    .media svg {
      padding: 25px;
      width: 125px;
      height: 120px;
      margin-right: 0px;
    }
    .carousel-inner {
      margin-left: 0px;
      padding-right: 0px;
    }
  }
  #carouselExampleControls {
    height: 80vw;
  }

  .slider-quote-second {
    height: 147vw;
    #customId {
      height: 116vw;
    }
  }

  .slider-quote .carousel, .slider-quote .media, .slider-quote .carousel-inner, .slider-quote .carousel-item, .slider-quote .media-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .slider-quote .quote-img {
    margin-bottom: 20px;
  }

  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
  }

  .slider-quote-second img {
    margin-right: 0;
    width: 67%;
  }
  .team {
    .container {
      overflow: hidden;
    }
  }
  .we-do {
    height: 280vw;
  }

  .blog {
    height: 365vw;
  }

  footer {
    height: 400vw;
  }

}

@media screen and (max-width: 350px) {

  /***************************************************************/
  .story {
    height: 336vw;
  }

  .services {
    height: 380vw;
  }

  .counter-info {
    height: 90vw;
  }

  .unique-design {
    height: 325px;
    min-height: 325px;
    .tablet {
      height: 145px;
      width: 36%;
    }
    .phone-img {
      width: 21%;
      bottom: -27px;
    }
  }

  .we-do {
    height: 340vw;
    .title-text {
      padding-top: 42px;
    }
  }

  .people-say {
    height: 425vw;
    .media-body {
      margin-left: 0px;
    }
    .people-text {
      text-align: center;
    }
    .media {
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }
    .people-position::after {
      width: 100%;
    }
    .media-body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .team {
    padding-bottom: 0;
    .container {
      padding: 0;
    }
    .team-member {
      padding-bottom: 30px;

    }
  }

  .map {
    height: 40vw;
  }

  .blog {
    height: 410vw;
  }

  footer {
    height: 460vw;
  }
}

@media screen and (max-width: 320px) {
  .story {
    height: 366vw;
  }
  .slider-quote-second #customId {
    height: 120vw;
  }
  .logos {
    height: 64vw;
  }
  .our-work {
    .text {
      margin: 38px 0;
    }
  }
  .services {
    height: 358vw;
  }
  .we-do {
    .text {
      margin-top: 20px;
    }
  }
  .people-say {
    height: 473vw;
  }
  footer {
    height: 490vw;
  }
}