@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$Montserrat: "Montserrat", sans-serif;
$Roboto: "Roboto", sans-serif;
@mixin title-text__span($font-size) {
  display: inline-block;
  font-size: $font-size;
  font-family: "Kaushan Script", sans-serif;
  line-height: 1.2;
}

@mixin title-text__h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin title-text__after {
  content: '';
  width: 60px;
  display: inline-block;
  vertical-align: bottom;
  align-items: center;
  left: 0;
  background-color: rgb(243, 129, 129);
  height: 3px;
}

@mixin member-name {
  padding: 30px 0 15px 0;
  font-size: 14px;
  font-family: $Montserrat;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
}

@mixin member-position {
  font-size: 15px;
  font-family: $Roboto;
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  font-family: Arial, sans-serif;
  width: 500px;
  display: block;
  margin: 0 auto;
}

.action {
  display: block;
  margin: 100px auto;
  width: 100%;
  text-align: center;
  a {
    display: inline-block;
    padding: 5px 10px;
    background: #f30;
    color: #fff;
    text-decoration: none;
    &:hover {
      background: #000;
    }
  }
}

.intro {
  color: #fff;
  height: 100vh;
  background: url("../images/Layer 15.png") no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    width: 70%;
    ul {
      margin: 0;
      display: flex;
      justify-content: space-around;
      font-weight: bold;
    }
    a {
      color: #fff;
      border: 2px solid transparent;
      transition: border-bottom .5s ease;
      &:hover {
        text-transform: uppercase;
        text-decoration: none;
        color: #fce38a;
        //  border-bottom: 2px solid #fce38a;
        transform: scaleX(1);
      }
    }
  }

  .menu-link {
    height: 50px;
    display: flex;
    align-items: center;
  }

  /*.menu a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 3px;
    width: 100px;
  }

  .menu a:hover {
    transition: all 0.3s ease;

  }
*/
  .learn-more a:hover {
    text-decoration: none;
    color: #fce38a;
    border-color: #fce38a;
  }

  .menu a {
    color: white;
  }
  .menu a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: #ffeb3b;
    transition: all .3s ease-in-out;
  }
  .menu a:hover:after
    /*,.menu a:focus:after */
  {
    width: 100%;
  }
  .container .intro--button {
    position: relative;
    background: transparent;
    padding: 10px 30px;
    text-align: center;
    align-items: center;
    border: 3px solid #fff;
    color: #fff;
    margin-top: 30px;
  }
}

.overlay {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
}

.overlay--color {
  background-image: -moz-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.intro .menu-link {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.title-text {
  position: relative;
  text-align: center;
  span {
    @include title-text__span(72px);
  }
}

.title-text h1 {
  padding-top: 20px;
  font-size: 150px;
  font-family: $Montserrat;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.933;
}

.slider-controller {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.slider-items {
  width: 25%;
  &::before {
    content: '';
    width: 100%;
    height: 2px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
  }
}

.slider-text {
  font-size: 24px;
  font-family: $Montserrat;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  width: max-content;
}

.story {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .title-text {
    span {
      font-size: 24px;
    }

    h2 {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &::after {
      @include title-text__after;
    }
  }
  .container {
    .photo-container {
      .photo-item {
        width: 100%;
        transition: transform .3s ease, box-shadow .3s ease;
        height: 252px;
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        &:hover {
          box-shadow: 1px 1px #95e1d3,
          7px 7px #95e1d3;
          -webkit-transform: translateX(-7px);
          transform: translateX(-7px) translateY(-7px);
        }
      }
    }
  }
  .photo-item a {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: none;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-family: $Montserrat;
    font-weight: bold;
    opacity: 0;

    &:after {
      position: absolute;
      content: '';
      background-image: -moz-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
      background-image: -webkit-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
      background-image: -ms-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity .3s ease;
      z-index: -1;
    }

    &:hover {
      opacity: 1;
    }
  }
  .photo-item a:hover:after {
    opacity: .9;
  }
}

.text {
  text-align: center;
  margin: 60px 0;
  font-size: 15px;
  font-family: $Roboto;
  color: rgb(153, 153, 153);
  line-height: 1.6;
}

.counter-info {
  height: 35vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(149, 225, 211);
  .container {
    display: flex;
    height: 100%;
  }
  .number {
    font-size: 72px;
    font-family: $Montserrat;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
  .counter-text {
    font-size: 14px;
    font-family: $Montserrat;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
  .counter-container {
    height: 100%;
    width: 20%;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    padding: 70px 0;
  }
}

.services {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .title-text {
    span {
      font-size: 24px;
    }
    h2 {
      @include title-text__h2;
    }
    &::after {
      @include title-text__after;
    }
  }
  .media {
    margin: 50px 0;
    svg {
      width: 15%;
    }
    .media-body h5 {
      text-transform: uppercase;
    }
  }
}

.unique-design {
  background: url("../images/Layer 45.png") no-repeat center;
  height: 50vw;
  min-height: 480px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  z-index: -4;
  .overlay {
    z-index: -3;
    opacity: .7;
  }
  .overlay--bw {
    background-color: #d9d9d9;
  }
  .tablet {
    width: 29%;
    position: absolute;
    height: 568px;
    left: 34%;
    bottom: 0px;
    z-index: -1;
    background: url("../images/Layer 1.png") no-repeat;
    background-size: cover;
    background-position: top;
  }
  .phone-img {
    position: absolute;
    left: 56%;
    bottom: -119px;
  }
  .title-text {
    padding-top: 4vw;
    span {
      font-size: 24px;
      text-transform: none;
    }
    h2 {
      @include title-text__h2;
    }
    &::after {
      @include title-text__after;
    }
  }
}

.we-do {
  height: 100%;
  padding: 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .title-text {
    padding-top: 80px;
    span {
      font-size: 24px;
    }
    h2 {
      @include title-text__h2;
    }
    &::after {
      @include title-text__after;
    }
  }
  .card-body {
    max-height: 180px;
    overflow-y: auto;
  }
}

.we-do
.we-do
.we-do
.we-do
.we-do
.we-do .card-body .btn-link:hover,
.btn-link.focus,
.btn-link:focus,
.btn:hover,
.btn:focus,
.btn-link.focus,
.btn-link:focus {
  text-transform: none !important;
}

.accordion .card-header:after {
  font-family: 'FontAwesome', sans-serif;
  content: "\f068";
  float: right;
}

.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

/*start blockquote */
.slick-prev:before, .slick-next:before {
  color: black !important;
}

.slick-prev {
  left: 25px !important;
}

.slick-next {
  right: 25px !important;
}

.slider-quote {
  padding: 45px 0;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  .slider-item {
    width: 65% !important;
    display: flex !important;

    justify-content: center;
    margin-left: 15%;
    svg {
      width: 205px;
      border: 2px solid #95e1d3 !important;
      padding: 40px;
      height: 147px;
      margin-right: 30px;
    }
    .quote-text {
      margin-left: 20px;
      .quote {
        font-size: 18px;
        font-family: $Roboto;
        color: rgb(153, 153, 153);
        font-style: italic;
        line-height: 1.5;
        text-align: left;
        font-weight: 400;
      }
      .blockquote-footer {
        font-size: 24px;
        font-family: "Kaushan Script", sans-serif;
        color: rgb(51, 51, 51);
        line-height: 1.2;
        text-align: left;
        padding-top: 10px;
        &::before {
          color: #f38181;
        }
      }
    }
  }
}

/*end blockquote */

.team {
  padding: 45px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .title-text {
    span {
      font-size: 24px;
    }
    h2 {
      @include title-text__h2;
    }
    &::after {
      @include title-text__after;
    }
  }

  .team-member {
    text-align: center;
  }

  .member-name {
    @include member-name;
  }

  .member-position {
    @include member-position;
  }

}

.logos {
  height: 30vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .container {
    display: flex;
    justify-content: space-around;
  }
}

.our-work {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .title-text {
    span {
      font-size: 24px;
    }
    h2 {
      @include title-text__h2;
    }
    &::after {
      @include title-text__after;
    }
  }
  .work-photo {
    padding: 0;
  }
  .img-small {
    width: 50%;
    height: 100%;
  }
}

.slider-quote-second {
  @extend .slider-quote;
  height: 20vw;
  img {
    width: 100%;
    height: 100%;
    margin-right: 40px;
  }
  .media-body {
    padding-top: 40px;
  }
}

.people-say {
  background: url("../images/Layer 53.png") no-repeat center;
  height: 100%;
  padding: 40px 0;
  position: relative;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  .overlay {
    opacity: 0.8;
  }
  .overlay--bw {
    background-color: #ffffff;
  }
  .title-text {
    span {
      font-size: 24px;
    }
    h2 {
      @include title-text__h2;
    }
    &::after {
      @include title-text__after;
    }
  }
  .people-text {
    font-size: 15px;
    font-family: $Roboto;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
    margin-top: 25px;
  }
  .member-name {
    @include member-name;
  }
  .member-position {
    @include member-position;
  }
  .people-position {
    font-size: 15px;
    font-family: $Roboto;
    color: rgb(51, 51, 51);
    font-style: italic;
    line-height: 1.6;
    &::after {
      content: '';
      width: 60px;
      display: block;
      margin-top: 20px;
      vertical-align: bottom;
      align-items: center;
      left: 0;
      background-color: rgb(243, 129, 129);
      height: 3px;
    }
  }
  .media {
    margin-top: 70px;
  }
  .media-body {
    margin-left: 17px;
  }
}

.blog {
  height: 100%;
  padding: 40px 0;
  position: relative;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  .title-text {
    margin-bottom: 30px;

    span {
      font-size: 24px;
    }
    h2 {
      @include title-text__h2;
    }
    &::after {
      @include title-text__after;
    }
  }
  .blog-item--title {
    margin-top: 20px;
    font-size: 14px;
    font-family: $Montserrat;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
  }
  .blog-item--text {
    margin-top: 20px;
    font-size: 15px;
    font-family: $Roboto;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
  }
  .blog-items {
    display: flex;
  }
  img {
    width: 100%;
  }
  .blog-item--statistics {
    display: flex;
    align-items: center;
  }
  .blog-item--statistics div {
    margin: 0 10px;
    font-size: 15px;
    font-family: $Roboto;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: left;
  }
}

.map {
  background: url("../images/Layer 59.png") no-repeat center;
  background-size: cover;
  height: 30vh;
  position: relative;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  .title-text h2 {
    font-size: 24px;
    font-family: $Montserrat;
    color: rgb(243, 129, 129);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
  }
  .overlay {
    opacity: 0.7;
  }
  .overlay--bw {
    background-color: #fff;
  }
}

footer {
  height: 100%;
  position: relative;
  display: flex !important;
  z-index: 2;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  .footer-logo {
    width: 40%;
  }
  .custom-file-label {
    color: #b1b1b1;
  }
  .notes {
    a {
      text-decoration: none;
      color: black;
      display: flex;
    }
    a:hover {
      text-decoration: none;
      color: #fce38a;
    }
    .media img {
      width: 160px;
      height: 100%;
    }
  }
  .footer-text {
    font-size: 15px;
    font-family: $Roboto;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .footer-followers {
    font-size: 18px;
    font-family: $Montserrat;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
  }
  .number {
    font-weight: 700;
  }
  .follow-us {
    align-items: center;
    font-size: 15px;
    font-family: $Roboto;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: left;
    margin-top: 20px;
    i {
      color: #95e1d3;
      margin: 0 10px;
    }
    &::before {
      content: '';
      width: 100%;
      margin-bottom: 20px;
      display: inline-block;
      vertical-align: bottom;
      align-items: center;
      left: 0;
      background-color: #e5e5e5;
      height: 3px;
    }
  }
  button {
    background-color: rgb(149, 225, 211);
    border-radius: 0 !important;
    color: #fff;
    width: 150px;
    height: 40px;
  }
  .form-control {
    border-radius: 0 !important;
    width: 70% !important;
  }
  form {
    margin-top: 35px;
  }
  .blog-title {
    font-size: 14px;
    font-family: $Montserrat;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
  }
  .notes .mt-0 {
    text-transform: uppercase;
  }
  .publication-date {
    font-size: 13px;
    font-family: $Roboto;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.846;
    text-align: left;
  }
  .blog-instagram img {
    width: 100%;
    padding: 1px;
  }
  .created-by {
    margin-top: 65px;
    justify-content: center;
    font-size: 14px;
    font-family: $Montserrat;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    .author {
      color: #f49f9f;
    }
    &::before {
      content: '';
      width: 100%;
      margin-bottom: 20px;
      display: inline-block;
      vertical-align: bottom;
      align-items: center;
      left: 0;
      background-color: #e5e5e5;
      height: 3px;
    }
  }
}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin-bottom: 0;
  margin-top: 40px;
}

.custom-file .custom-input {

  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin: 0;
  opacity: 0;
}

@media screen and (max-width: 2560px) {
  .slider-quote {
    .slider-item {
      svg {
        width: 150px;
      }
    }
  }
  .services, .story {
    height: 100%;
    padding: 40px 0;
  }

  .counter-info {
    height: 12vw;
  }

  .unique-design .tablet {
    height: 72%;
  }

  .unique-design .phone-img {
    width: 15%;
  }

  .we-do {
    height: 100%;
    padding: 40px 0;
    .we-do--image {
      width: 48%;
      img {
        width: 100%;
      }
    }
  }

  #accordion {
    width: 50%;
    margin-left: 20px;
  }

  .work-photo img {
    width: 100%;
  }

  .slider-quote-second {
    height: 12vw;
  }
  .slider-quote-second img {
    width: 15%;
  }
  .slider-quote .slider-item .quote-text, .slider-quote-second .slider-item .quote-text {
    padding-top: 2%;
  }
  .people-say {
    height: 100%;
    padding: 40px 0;
    background-size: cover;
  }

  .blog {
    height: 100%;
    padding: 40px 0;
  }

  footer {
    height: 100%;
    padding: 40px 0;
  }

}

@media screen and (max-width: 1920px) {

  .counter-info {
    height: 23vh;
  }
  .slider-quote-second img {
    width: 20%;
  }
  .slider-quote {
    .slider-item {
      svg {
        width: 166px;
      }
    }
  }

  .slider-quote-second {
    height: 15vw;
  }

}

@media screen and (max-width: 1600px) {

  .we-do {
    height: 100%;
    padding: 40px 0;
  }

  .slider-quote-second {
    height: 19vw;
    img {
      width: 40%;
    }
  }
  .people-say {
    height: 45vw;
  }
  footer {
    height: 45vw;
  }
}

@media screen and (max-width: 1440px) {
  .people-say {
    height: 65vw;
  }
  .services, .story {
    height: 50vw;
  }

  .intro .title-text h1 {
    padding-top: 20px;
    font-size: 120px;
  }

  .counter-info {
    height: 20vw;
  }

  .unique-design .tablet {
    width: 32%;
  }

  .we-do {
    height: 54vw;
    .we-do--image {
      width: 48%;
      img {
        width: 100%;
      }
    }
  }

  #accordion {
    width: 50%;
    margin-left: 20px;
  }

  .slider-quote-second {
    height: 20vw;
    .carousel-inner {
      height: 15vw;
    }
    #customId {
      height: 14vw;
    }
  }

  .blog {
    height: 50vw;
  }

  footer {
    height: 45vw;
  }
}

@media screen and (max-width: 1280px) {
  .slider-quote .slider-item svg {
    width: 222px;
  }

  .slider-quote-second {
    height: 23vw;
    .carousel-inner {
      height: 17vw;
    }
  }
  footer {
    height: 53vw;
  }
}

@media screen and (max-width: 1024px) {
  .intro .title-text h1 {
    font-size: 100px;
  }
  .story {
    height: 65vw;
  }

  .services h5,
  footer h5 {
    font-size: 1rem;
  }

  .services {
    height: 77vw;
    .media svg {
      width: 10%;
    }
  }

  .slider-quote-second {
    img {
      width: 23%;
    }
  }

  .we-do {
    height: 75vw;
    .we-do--image img {
      width: 100%;
    }
  }

  #accordion {
    width: 40%;
    margin-left: 20px;
  }

  .map {
    height: 30vw;
  }

  .counter-info {
    height: 25vw;
  }

  .services svg {
    margin-right: 1rem;
  }

  .unique-design {
    .tablet {
      height: 354px;
    }
    .phone-img {
      width: 18%;
      bottom: -90px;
    }
  }

  .blog {
    height: 70vw;
  }

  .slider-quote {
    .carousel-inner {
      padding-right: 30px;
      font-size: 14px;
    }
    .slider-item svg {
      width: 276px;
      border: 2px solid #95e1d3 !important;
      padding: 40px;
      height: 145px;

    }
  }

  .people-say {
    height: 85vw;
    background-size: cover;
    .media {
      width: 100% !important;
    }
  }
  footer {
    height: 65vw;
  }
}

@media screen and (max-width: 980px) {

  .intro .title-text h1 {
    font-size: 75px;
  }

  .unique-design {
    height: 60vw;
    .tablet {
      height: 405px;
    }
  }
  .slider-quote .slider-item svg {
    width: 276px;
    border: 2px solid #95e1d3 !important;
    padding: 40px;
    height: 145px;

  }
  .counter-info .number {
    font-size: 65px;
  }

  .people-say {
    height: 120vw;
  }

  .services {
    height: 90vw;
  }

  #carouselExampleControls {
    height: 15vw;
  }

  .we-do {
    height: 100%;
    padding: 0px 0 40px 0;
  }

  .blog {
    height: 195vw;
    justify-content: space-around;
  }

  .blog .title-text {
    margin-top: auto;
    img {
      height: 100%;
      width: 100%;
    }

    .blog-items {
      flex-direction: column;
    }

    .blog-item {
      min-width: 100% !important;
      margin-bottom: 50px;
    }

    .blog-item--photo {
      display: flex;
      height: 100%;
      width: 100%;
    }

    .blog-item {
      min-width: 100% !important;
      margin-bottom: 50px;
      height: 500px;
      display: flex;
      flex-direction: column;
    }
  }
  footer {
    height: 100%;
    padding: 40px 0;
  }

  footer .last-notes, footer .blog-instagram {
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  /*********************************************************************/
  .icon {
    position: absolute;
    top: 75%;
    right: -55px;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 2;
  }

  .burger-nav {
    width: 50px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
    background: #fff;
  }

  .burger-nav:before, .burger-nav:after {
    content: '';
    width: 50px;
    height: 6px;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
    background: #fff;
  }

  .burger-nav:before {
    top: -16px;
    background: #fff;
  }

  .icon.active .burger-nav {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    transition: all 1s ease;
  }

  .icon.active .burger-nav:before {
    top: 0;
    transform: rotate(45deg);
  }

  .icon.active .burger-nav:after {
    top: 0;
    transform: rotate(135deg);
  }

  .menu ul {
    height: 0;
    overflow: hidden;
    background: rgba(243, 129, 129, .9);
  }

  .menu ul.open {
    height: auto;
  }

  .menu ul li {
    text-align: left;
    width: 100%;
  }

  .menu ul li a {
    color: #fff;
  }

  .menu ul.open {
    transition: all .4s ease;
  }

  .menu ul.open {
    height: 300px;
    width: 100vw;
    position: absolute;
    left: -37px;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  /************************************************************************/
  .intro {
    .slider-controller {
      margin: 20px;
    }
  }
  .title-text span {
    font-size: 64px;
  }

  .story {
    height: 100%;
    padding: 40px 0;
  }

  .services {
    height: 100%;
    padding: 40px 0;
  }
  .slider-quote .slider-item svg {
    width: 303px;
    border: 2px solid #95e1d3 !important;
    padding: 25px;
    height: 115px;
  }
  .slider-quote-second {
    height: 40vw;
    img {
      width: 100%;
    }
  }
  .unique-design {
    .tablet {
      height: 304px;
    }
    .phone-img {
      bottom: -64px;
    }
  }

  .people-say {
    height: 100%;
    padding: 40px 0;
  }

  .blog {
    height: 100%;
    padding: 40px 0;
    img {
      height: 100%;
      width: 100%;
    }

    .blog-item {
      min-width: 100% !important;
      margin-bottom: 50px;
      height: 500px;
      display: flex;
      flex-direction: column;
    }
  }
  .our-work {
    .text {
      margin: 25px 0;
    }
  }
  footer {
    height: 100%;
    padding: 40px 0;
  }
}

@media screen and (max-width: 700px) {
  .blog {
    height: 100%;
    padding: 40px 0;
  }
  .slider-controller {
    padding-bottom: 20px;
  }
  .counter-info .number {
    font-size: 50px;
  }
  .slider-quote-second {
    height: 100%;
  }

}

@media screen and (max-width: 600px) {

  .intro {
    .title-text {
      h1 {
        font-size: 40px;
      }
      span {
        font-size: 35px !important;
      }
    }
    .slider-items {
      padding-top: 25px;
    }
    .learn-more {
      margin-top: 0 !important;
    }

  }

  .title-text {
    span {
      font-size: 18px !important;
    }
    h2 {
      font-size: 23px !important;
    }
  }

  .unique-design {
    .title-text {
      padding-top: 12vw;
    }
    .title-text {
      h2 {
        margin: 0;
      }
    }
    .tablet {
      height: 242px;
    }
  }
  .we-do {
    height: 100%;
    .text {
      margin: 25px 0;
    }
    .we-do--image {
      width: 100%;
    }
  }

  .slider-controller {
    flex-direction: column;
  }

  .story {
    height: 100%;
    padding-top: 40px;
    .photo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .services {
    height: 100%;
    padding-top: 40px;
  }

  #accordion {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  .counter-info {
    height: 75vw;
    .container {
      display: flex;
      height: 100%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 0;
      .counter-container {
        height: 50%;
        width: 33.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .number {
          font-size: 50px;
        }
      }
    }
  }

  .slider-quote-second {
    height: 65vw;
  }

  .slider-quote {
    .slider-item {
      flex-direction: column;
      align-items: center;
      svg {
        width: 150px;
        border: 2px solid #95e1d3 !important;
        padding: 40px;
        height: 147px;
      }
      .quote-text {
        margin: 0;
        .quote {
          padding-top: 20px;
          text-align: center;
        }
        .blockquote-footer {
          text-align: center;
        }
      }
    }
  }

  .slider-quote-second {
    height: 100%;
    padding: 40px 0;
    .slider-item {
      img {
        width: 50%;
      }
    }
  }

  .people-say {
    height: 100%;
    padding: 40px 0;
  }

  .blog {
    height: 100%;
    padding-top: 40px;
    .blog-items {
      flex-direction: column;
      .blog-item {
        height: auto;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }

  }
  .our-work {
    height: 100%;
    padding: 40px 0;
  }
  footer {
    height: 100%;
    padding: 40px 0;
  }

}

@media screen and (max-width: 500px) {
  .unique-design .tablet {
    height: 193px;
  }
  .menu ul.open {
    left: -15px;
  }
}

@media screen and (max-width: 475px) {

  .intro .slider-text {
    font-size: 15px;
  }

  .unique-design {
    height: 366px;
    min-height: 200px;
    .tablet {
      height: 193px;
      width: 36%;
    }
  }

  .services .media {
    margin: 35px 0;
  }

  .counter-info {
    .number {
      font-size: 27px;
    }
    .counter-text {
      font-size: 11px;
    }
  }

  .slider-quote .media svg {
    padding: 23px;
    width: 118px;
    height: 115px;
  }
  .slider-quote-second {
    height: 130vw;
    img {
      margin: 0;
    }
  }

  .blog .blog-title .col-xs-4 {
    max-width: 16%;
  }

  .logos {
    height: 84vw;
    .container {
      flex-wrap: wrap;
    }
  }

  .logo {
    width: 25%;
    padding-top: 20px;
  }

}

@media screen and (max-width: 375px) {
  .story {
    .text {
      margin: 30px 0;
    }
  }

  .unique-design .tablet {
    height: 165px;
  }

  .slider-quote {
    .media svg {
      padding: 25px;
      width: 125px;
      height: 120px;
      margin-right: 0px;
    }
    .carousel-inner {
      margin-left: 0px;
      padding-right: 0px;
    }
  }

  .slider-quote-second {
    height: 117vw;
    img {
      margin-right: 0;
      width: 67%;
    }
  }

  .slider-quote .quote-img {
    margin-bottom: 20px;
  }

  .team {
    .container {
      overflow: hidden;
      .text {
        margin: 25px 0;
      }
    }
  }

}

@media screen and (max-width: 350px) {
  .counter-info {
    height: 90vw;
  }
  .unique-design {
    height: 325px;
    min-height: 325px;
    .tablet {
      height: 145px;
      width: 36%;
    }
    .phone-img {
      width: 21%;
      bottom: -27px;
    }
  }
  .we-do {
    .title-text {
      padding-top: 42px;
    }
  }

  .people-say {
    .people-text {
      text-align: center;
    }
    .media {
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }
    .people-position::after {
      width: 100%;
    }
    .media-body {
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .team {
    padding-bottom: 0;
    .container {
      padding: 0;
    }
    .team-member {
      padding-bottom: 30px;

    }
  }
  .slider-quote-second {
    height: 145vw;
  }
  .map {
    height: 40vw;
  }

}

@media screen and (max-width: 320px) {
  .logos {
    height: 64vw;
  }
  .our-work {
    .text {
      margin: 38px 0;
    }
  }

  .we-do {
    .text {
      margin-top: 20px;
    }
  }
  .slider-quote-second {
    height: 145vw;
  }
}